#x00{
    font-size: 200px;
    position: absolute;
    left: 60px;
    top: -220px;


}

#o00{
    font-size: 200px;
    position: absolute;
    left: 60px;
    top: -220px;

}

#x01{
    font-size: 200px;
    position: absolute;
    left: 60px;
    top: 10px;
}

#o01{
    font-size: 200px;
    position: absolute;
    left: 60px;
    top: 10px;
}



#x02{
    font-size: 200px;
    position: absolute;
    left: 60px;
    top: 235px;
}

#o02{
    font-size: 200px;
    position: absolute;
    left: 60px;
    top: 235px;
}


#x10{
    font-size: 200px;
    position: absolute;
    left: 320px;
    top: -225px;
}

#o10{
    font-size: 200px;
    position: absolute;
    left: 320px;
    top: -225px;
}

#x20{
    font-size: 200px;
    position: absolute;
    left: 320px;
    top: 7px;
}

#o20{
    font-size: 200px;
    position: absolute;
    left: 320px;
    top: 7px;
}

#x30{
    font-size: 200px;
    position: absolute;
    left: 320px;
    top: 235px;
}

#o30{
    font-size: 200px;
    position: absolute;
    left: 320px;
    top: 235px;
}

#xC30{
    font-size: 200px;
    position: absolute;
    left: 570px;
    top: -225px;
}

#oC30{
    font-size: 200px;
    position: absolute;
    left: 570px;
    top: -225px;
}

#xC31{
    font-size: 200px;
    position: absolute;
    left: 570px;
    top: 5px;
}

#oC31{
    font-size: 200px;
    position: absolute;
    left: 570px;
    top: 5px;
}

#xC32{
    font-size: 200px;
    position: absolute;
    left: 570px;
    top: 235px;
}

#oC32{
    font-size: 200px;
    position: absolute;
    left: 570px;
    top: 235px;
}




.gameBoard{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 100px, auto;
}

.gameBoard .boxesCol1{
    position: relative;
    width: 200px;
    height: 200px;
    border: solid 21px orange;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    
}


.gameBoard .boxesCol2{
    position: relative;
    right: -250px;
    top: -690px;
    width: 200px;
    height: 200px;
    border: solid 21px orange;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    
}
.gameBoard .boxesCol3{
    position: relative;
    right: -500px;
    top: -1380px;
    width: 200px;
    height: 200px;
    border: solid 21px orange;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    
}

#reset{
    position: absolute;
    top: 700px;
    left: 335px;

}